<div class="panel-heading">
  <div class="panel-title">
    <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".<%= id %>" style="border:none;"><i class="fa fa-info-circle fa-1x"></i></button>
    &nbsp; <%= title %>
  </div>
</div>

<%= render 'shared/infomodal', id: id, message: explanation %>
