.individual-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-header {
  margin-top: -20px;
}

.picture-placeholder {
  min-height: 80px;
}

.page-header {
  margin-top: 5px;
}
