<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', modal_id: "modal-team-members", collapse_id: "collapse-team-members", title: "TEAM MEMBERS OVERVIEW", explanation: "This box shows the individual score for all team tembers. You can consult the detailed individual reports for low-scoring members by clicking on their name." %>

  <div class="collapse in" id="collapse-team-members">
    <div class="panel-body">
      <div class="row">
        <%@team_members_scores_data.each do |data| %>
        <div class="col-xs-3">
          <% if (data["scores"]["last week"]["range"] == "danger" || data["scores"]["last week"]["range"] == "warning")%>
          <%= link_to individual_report_path(data["agent"]["id"]) do %>
          <%= render 'reports/team/team_member_small_card',
          name: data["agent"]["name"],
          position: data["agent"]["position"],
          picture: data["agent"]["picture_url"],
          score: data["scores"]["last week"]["score"],
          range: data["scores"]["last week"]["range"]%>
          <% end %>
          <% else %>
          <%= render 'reports/team/team_member_small_card',
          name: data["agent"]["name"],
          position: data["agent"]["position"],
          picture: data["agent"]["picture_url"],
          score: data["scores"]["last week"]["score"],
          range: data["scores"]["last week"]["range"]%>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
