<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', modal_id: "modal-team-gauges", collapse_id: "collapse-team-gauges", title: "WORK/LIFE BALANCE DRIVERS", explanation: "This tells you when team members work, and thus when they don't work and have time to unplug and rest. Each gauge shows what percentage of team members have benefitted from each company sustainability policy." %>

  <div class="collapse in" id="collapse-team-gauges">
    <div class="panel-body" style="padding-left: 50px; padding-top: 0px; padding-bottom: 0px;">
      <div class="container">
        <div class="row">
          <% @policies_enforcement_data.each do |data| %>
          <div class="col-xs-2">
            <% chart_id = "chart_#{data["name"]}" %>
            <%= render 'reports/charts/chart_policy_gauge', chart_id: chart_id, policy: data["name"], value: data["value"], weight: data["weight"], title_suffix: "%", sub_title: "of members" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
