<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', modal_id: "modal-team-members", collapse_id: "collapse-team-members", title: "TEAM MEMBERS OVERVIEW", explanation: "This box shows the individual score for all team tembers. You can consult the detailed individual reports for low-scoring members by clicking on their name." %>

  <div class="collapse in" id="collapse-team-members">
    <div class="panel-body">
      <div class="row">
        <%@team_results.each do |k, v| %>
        <div class="col-xs-3">
          <% if (v["scores"]["last week"]["range"] == "danger" || v["scores"]["last week"]["range"] == "warning")%>
          <%= link_to individual_report_path(v["employee"]["id"]) do %>
          <%= render 'reports/team/team_member_small_card',
          name: v["employee"]["name"],
          position: v["employee"]["position"],
          picture: v["employee"]["picture"],
          score: v["scores"]["last week"]["value"],
          range: v["scores"]["last week"]["range"]%>
          <% end %>
          <% else %>
          <%= render 'reports/team/team_member_small_card',
          name: v["employee"]["name"],
          position: v["employee"]["position"],
          picture: v["employee"]["picture"],
          score: v["scores"]["last week"]["value"],
          range: v["scores"]["last week"]["range"]%>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
