<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', id: "individual-history", title: "How well has the team enforced the company sustainability guidelines?", explanation: "These gauges show what percentage of team members have benefitted from the company sustainability policies, for each policy." %>

  <div class="panel-body">
    <div class="container">
      <div class="row">
        <% @policies_enforcement.each do |k, v| %>
        <div class="col-xs-2">
          <% chart_id = k %>
          <%= render 'reports/charts/chart_policy_gauge', chart_id: chart_id, policy: v["name"], value: v["score"], weight: v["weight"], title_suffix: "%", sub_title: "of members" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
