<div class="panel panel-great">
  <div class="panel-heading" style="height: 75px;">
    <div class="row">
      <div class="col-xs-3">
      <%= image_tag 'ops-connections.png', class: 'scoreboxicon' %>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">17</div>
        <div>People <b>interacted</b> with</div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <span class="pull-left">Previous week: 15</span>
    <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
    <div class="clearfix"></div>
  </div>
</div>
