/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url('https://fonts.googleapis.com/css?family=HelveticaNeue:100,200,400,300,500,700');
// $base-font: "HelveticaNeue", "Helvetica", "sans-serif";
// $header-font: "HelveticaNeue", "Helvetica", "sans-serif";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,300,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,300,500,700');
$base-font: "Open Sans";
$header-font: "Roboto";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

h3 {
  font-weight: 500px;
}

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$primary-dark: darken(#3E92CC,10%);
$primary: #3E92CC;
$primary-light: lighten(#3E92CC, 10%);
$yellow: #F0AD4E;
$green: #5CB85C;
$red: #D9534F;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 60%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$gray-lightest: lighten(#000, 98%); // #eee
