

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Supercare</div>
  <div class="panel-body">
    <p>Find here all people flagged as needing "supercare" by the management and HR team, given their sustainability situation.</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <th>Owner</th>
      <th>Description</th>
      <th>Employee</th>
      <!-- <th>Status</th> -->
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
        <tr>
          <td><%= t.owner %></td>
          <td><%= t.description %></td>
          <td><%= link_to t.agent.name, individual_report_path(t.agent) %></td>
          <!-- <td><%= t.done %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
