<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', id: "individual-history", title: "SUSTAINABILITY HISTORY", explanation: "This chart shows the weekly sustainability score for the employee, and the 4 weeks average score for longer-term scoring." %>

  <div class="panel-body">
    <%= render 'reports/charts/chart_score_history', chart_id: "long_chart", title: '', yaxistitle: 'Weekly sustainability score', xaxis: @list_of_weeks, data: @scores_by_week %>
  </div>
</div>
