<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', id: "individual-week", title: "LATE-NIGHT ACTIVITY", explanation: "This chart shows the latest action accomplished by the employee everyday, by category of action." %>

  <div class="panel-body">

    <%= render 'reports/charts/chart_late_night_activity', chart_id: "latenight", title: '', yaxistitle: 'Hour of last actions', xaxis: @list_of_dates, data: @hour_of_last_event_by_date %>
  </div>
</div>
