<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', id: "individual-week", title: "How has last week been for this employee?", explanation: "The list on the left shows whether company sustainability policies were successfully enforced last week for the employee, and the corresponding score based on policies weights. The chart on the right shows the latest action accomplished by the employee everyday, by category of action." %>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3">
        <%= render 'reports/individual/individual_policies_checklist', score: @current_weekly_score, score_range: @current_weekly_score_range, policies_check_list: @policies_check_list %>
      </div>
      <div class="col-xs-9">
        <%= render 'reports/charts/chart_late_night_activity', chart_id: "latenight", title: 'Last week late night activity', yaxistitle: 'Hour of last actions', xaxis: @list_of_dates, data: @hour_of_last_event_by_date %>
      </div>
    </div>
  </div>
</div>
