<div class="panel panel-default">
  <%= render 'reports/shared/panel_heading', modal_id: "modal-aspirations", collapse_id: "collapse-aspirations", title: "DEVELOPMENT PATH", explanation: "This is your <b>roadbook to self-development</b>. The elements in this section are shared with your support crew so they can get to know you better and propel you in achieving your goals." %>
</div>

<div class="collapse in" id="collapse-aspirations">
  <div class="row">
    <div class="col-xs-12 col-md-6">

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="panel mbti-panel">
            <div class="description">
              My MBTI® style
            </div>
            <div class="style">
              ENTJ
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="panel user-content-panel">
            <div class="title">
              My preferred working style
            </div>
            <div class="content">
              To balance my strong level of ownership, I strive to have full transparency on communication across the case team.
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-md-12">
          <div class="panel user-content-panel">
            <div class="title">
              My aspirations
            </div>
            <div class="content">
              <p>I want to continue giving a sense of purpose to our strive for excellence, as overachieving just for the sake of it leads to sterile exhaustion. I want to overachieve for and with others:</p>
              <ul>
                <li>Supporting my team and clients in delivering great results together</li>
                <li>Developing junior peers by helping them recognize and build their strengths</li>
                <li>Inspiring more people in the process, showing the bar can always be raised if passion is there</li>
              </ul>
              <p>On a day-to-day basis, this translates into a will to increasingly get involved in the “people” aspect of our work. I also want to play an ever greater role in developing the Brussels IT practice</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-md-3">
      <div class="panel strengths-panel">
        <div class="title">
          My key strengths
        </div>
        <div class="item">
          Vitality: I want to bring it to the next level by communicating my energy and enthusiasm to teams I work with
        </div>
        <div class="item">
          Assertiveness: I want to develop this aspect by making recommendations to client on increasingly large and/or complex parts of their business, getting there by owning complete case streams
        </div>
        <div class="item">
          Follow-through: By showing constant consistency in word and action, I want to be a role model for my team, leading to heightened mutual confidence levels
        </div>
        <div class="item">
          add a new strength...
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="panel development-points-panel">
        <div class="title">
          My development points
        </div>
        <div class="item">
          Fully develop as a well-rounded Consultant, driving increasingly important parts of the cases
        </div>
        <div class="item">
          Work with (S)ACs to become a skilled supervisor and inspirational coach
        </div>
        <div class="item">
          Develop further my client skills by mapping increasingly senior clients
        </div>
        <div class="item">
          add a new development point...
        </div>
      </div>
    </div>
  </div>
</div>
