<div class="individual-policies-checklist">
  <div class="total-score">
    <div class="label label-<%=score_range%>">
      Last week score: <%= score %> %
    </div>
  </div>
  <div class="checks">
    <ul class="fa-ul">
      <% policies_check_list.each do |policy| %>
      <li>
        <% if policy[:value] == 100 %>
          <i class="fa-li fa fa-check good"></i>
        <% else %>
          <i class="fa-li fa fa-times danger"></i>
        <% end %>
        <%= policy[:name] %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

