<div class="scorebox">
  <div class="row">
    <div class="col-xs-4">
      <i class="fa fa-check fa-3x"></i>
    </div>
    <div class="col-xs-8">
      <div class="score">
        <%= score %>%
      </div>
    </div>
  </div>
  <div class="row">
    <div class="percentile">
      12th percentile
    </div>
  </div>
</div>
