<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav-stacked" id="menu">

    <li>
      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
    </li>

    <li class="active">
      <%= link_to agent_path(1) do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>Individual reports
      <% end %>
    </li>

    <li>
      <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Team reports</a>
    </li>

    <li>
      <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Follow-up</a>
    </li>

    <li>
      <%= link_to policies_path do %>
      <span class="fa-stack fa-lg pull-left"><i class="fa fa-list fa-stack-1x "></i></span>Policies
      <% end %>
    </li>

    <li>
      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Teams</a>
    </li>

    <li>
      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-database fa-stack-1x "></i></span>Sources</a>
    </li>

    <li>
      <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x "></i></span>Settings</a>
    </li>

  </ul>
</div><!-- /#sidebar-wrapper -->
