<div class="row">
  <% @score_ranges_boxes_data.each do |e| %>
  <div class="col-lg-3 col-md-6">
    <%= render 'shared/scorebox', metric_range: e["range_name"], current_metric: e["week_count"], last_metric: e["previous_week_count"], metric_trend: e["evolution"], metric_description: "People in <b>#{e["range_name"]}</b> zone", icon_name: "#{e["range_name"]}-icon.png" %>
  </div>
  <% end %>
</div>
