<div class="panel panel-default">

  <%= render 'reports/shared/panel_heading', id: "company-gauges", title: "What are the company-wide drivers of sustainability?", explanation: "These gauges show what percentage of employees have benefitted from the company sustainability policies, for each policy." %>

  <div class="panel-body" style="padding-left: 50px; padding-top: 0px; padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <% @policies_enforcement.each do |k, v| %>
        <div class="col-xs-2">
          <% chart_id = k %>
          <%= render 'reports/charts/chart_policy_gauge', chart_id: chart_id, policy: v["name"], value: v["score"], weight: v["weight"], title_suffix: "%", sub_title: "of employees" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
