<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/datatables.min.css"/>

<div class="panel panel-default" >

  <%= render 'reports/shared/panel_heading', modal_id: "modal-individuals-table", collapse_id: "collapse-individuals-table", title:"SITUATION PER EMPLOYEE", explanation: "This table shows the individual sustainability scores for all employees. You can find their detailed individual sustainability reports by clicking on any employee's name." %>

  <div class="collapse in" id="collapse-individuals-table">
    <div class="panel-content" style="padding:10px;">

      <!-- Table -->
      <table class="table"  id="employeestable">
        <thead>
          <th>Employee</th>
          <th>This week</th>
          <th>Previous week</th>
          <th>Last 4 weeks</th>
        </thead>
        <tbody>
          <% @per_agents_data.each do |data| %>
          <tr>
            <td><%= link_to data[:agent][:name], individual_report_path(data[:agent][:id]) %></td>
            <% data[:scores].each do |s| %>
            <td><div class="label label-sm label-<%= s[1][:range]%>"><%=s[1][:score]%>%</div></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

<% content_for :javascript do %>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>
<script>
  $(document).ready(function(){
    $('#employeestable').DataTable();
  });
</script>

<% end %>
