<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".average-modal"><i class="fa fa-info-circle fa-1x"></i></button>
      &nbsp; <b>Company average</b>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'charts/scorechart', chart_id: "long_chart", title: 'Company average sustainability score', yaxistitle: 'Weekly sustainability score', xaxis: xaxis, data: data %>
  </div>
</div>

<%= render 'shared/infomodal', id: "average-modal", message: "This chart shows the average sustainability score of your company, based on the average of all individual weekly sustainability scores." %>
