.iconbox {
  height: 73px;
  width: 75px;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
  .iconbox-title {
    font-size: 14px;
  }
  .iconbox-icon {
    width: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .iconbox-subtext {
    font-size: 10px;
  }
}

.iconbox-success {
  background-color: $green;
  color: white;
}
.iconbox-primary {
  background-color: $primary;
  color: white;
}
.iconbox-warning {
  background-color: $yellow;
  color: white;
}
.iconbox-danger {
  background-color: $red;
  color: white;
}
.iconbox-supercare {
  background-color: white;
  color: $gray-light;
  border: 1px solid $gray-light;
}



.scorebox {
  max-height: 70px;
  margin-left: 10px;
  padding: 5px;
  background-color: $green;
  border-radius: 5px;
  text-align: center;
  color: white;
  .score {
    font-size: 30px;
    font-style: bold;
  }
  .percentile {
    font-size: 10px;
  }
}

.huge {
    font-size: 30px;
}

.scoreboxicon {
  width: 55px;
}

.panel-great {
    border-color: #5cb85c;
}

.panel-great > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-great a {
    color: #5cb85c;
}

.panel-great a:hover {
    color: #3d8b3d;
}

.panel-danger {
    border-color: #d9534f;
}

.panel-danger > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-danger a {
    color: #d9534f;
}

.panel-danger a:hover {
    color: #b52b27;
}

.panel-warning {
    border-color: #f0ad4e;
}

.panel-warning > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-warning a {
    color: #f0ad4e;
}

.panel-warning a:hover {
    color: #df8a13;
}

.panel-good {
    border-color: #3E92CC;
}

.panel-good > .panel-heading {
    border-color: #3E92CC;
    color: #fff;
    background-color: #3E92CC;
}

.panel-good a {
    color: #3E92CC;
}

.panel-good a:hover {
    color: $primary-dark;
}
