.iconbox {
  height: 73px;
  width: 75px;
  border-radius: 0px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
  .iconbox-title {
    font-size: 14px;
  }
  .iconbox-icon {
    width: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .iconbox-subtext {
    font-size: 10px;
  }
}

.iconbox-success {
  background-color: $green;
  color: white;
}
.iconbox-primary {
  background-color: $primary;
  color: white;
}
.iconbox-warning {
  background-color: $yellow;
  color: white;
}
.iconbox-danger {
  background-color: $red;
  color: white;
}
.iconbox-supercare {
  background-color: white;
  color: $gray-light;
}

.scorebox {
  max-height: 70px;
  margin-left: 10px;
  padding: 5px;
  background-color: $green;
  border-radius: 5px;
  text-align: center;
  color: white;
  .score {
    font-size: 30px;
    font-style: bold;
  }
  .percentile {
    font-size: 10px;
  }
}

.huge {
  font-size: 30px;
}

.scoreboxicon {
  width: 55px;
}

.panel-person {
  border-color: #5F5F5F !important;
  .panel-heading {
    border-color: #9A9A9A !important;
    color: white !important;
    background-color: #5F5F5F !important;
  }

  .name{
    font-size: 16px;
  }
}

.panel-great {
  border-color: #5cb85c;

  .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
  }

  .panel-footer {
    border-color: darken(#5cb85c, 10%);
    color: #fff;
    background-color: darken(#5cb85c, 10%);
  }

  .panel-great a {
    color: #5cb85c;
  }

  .panel-great a:hover {
    color: #3d8b3d;
  }
}

.panel-danger {
  border-color: #d9534f;

  .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
  }

  .panel-footer {
    border-color: darken(#d9534f, 10%);
    color: #fff;
    background-color: darken(#d9534f, 10%);
  }

  .panel-danger a {
    color: #d9534f;
  }

  .panel-danger a:hover {
    color: #b52b27;
  }
}

.panel-warning {
  border-color: #f0ad4e;

  .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
  }

  .panel-footer {
    border-color: darken(#f0ad4e, 10%);
    color: #fff;
    background-color: darken(#f0ad4e, 10%);
  }

  .panel-warning a {
    color: #f0ad4e;
  }

  .panel-warning a:hover {
    color: #df8a13;
  }
}

.panel-good {
  border-color: #3E92CC;

  .panel-heading {
    border-color: #3E92CC;
    color: #fff;
    background-color: #3E92CC;
  }

  .panel-footer {
    border-color: darken(#3E92CC, 10%);
    color: #fff;
    background-color: darken(#3E92CC, 10%);
  }

  .panel-good a {
    color: #3E92CC;
  }

  .panel-good a:hover {
    color: $primary-dark;
  }
}

.mbti-panel {
  background-color: darken(#3E92CC, 10%);
  color: white;
  padding-top: 3px;
  min-height: 90px;
  .description{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
  }
  .style{
    text-align: center;
    padding-bottom: 8px;
    font-size: 40px;
  }
}

.user-content-panel {
  background-color: lighten(#3E92CC, 10%);
  color: white;
  padding: 3px 10px 10px 10px;
  font-size: 14px;
  min-height: 90px;
  .title{
    font-weight: bold;
  }
  .content{
    font-style: italic;
  }
}

.strengths-panel {
  background-color: darken(#5cb85c, 10%);
  color: white;
  font-size: 14px;
  .title{
    font-weight: bold;
    padding: 10px;
  }
  .item{
    background-color: #5cb85c;
    font-style: italic;
    padding: 10px;
    border-top: 2px solid white;
  }
}

.development-points-panel {
  background-color: darken(#3E92CC, 10%);
  color: white;
  font-size: 14px;
  .title{
    font-weight: bold;
    padding: 10px;
  }
  .item{
    background-color: #3E92CC;
    font-style: italic;
    padding: 10px;
    border-top: 2px solid white;
  }
}
