.individual-policies-checklist {
  padding: 3px;
  padding-bottom: 4px;

  .good{
    color: $green;
  }
  .watchout{
    color: $yellow;
  }
  .danger{
    color: lighten($red, 10%);
  }

  .checks {
    margin-top: 20px;
    margin-bottom: 20px;

    li {
      margin: 10px;
    }
  }

  .total-score {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }
}

