<div class="policybox">
  <div class="total-score">
    <div class="label label-<%=score_range%>">
      Last week score: <%= score %> %
    </div>
  </div>
  <div class="checks">
    <ul class="fa-ul">
      <% policies_check_list.each do |policy, compliant| %>
      <li>
        <% if compliant %>
        <i class="fa-li fa fa-check-circle good"></i>
        <% else %>
        <i class="fa-li fa fa-times-circle danger"></i>
        <% end %>
        <%= policy %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

