
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Overview of policies</div>
  <div class="panel-body">
    <p>Some explanations</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <th>Index</th>
      <th>Description</th>
      <th>Enabled</th>
      <th>Weight</th>
    </thead>
    <tbody>
      <% @policies.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.name %></td>
          <td><%= p.policy_setting.enabled %></td>
          <td><%= p.policy_setting.weight %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
